Monitoring_EC2_RDS/Monitoring_Email/개발/code/stepfunction.json
{
    "Comment": "An example of the Amazon States Language that runs an AWS Batch job and monitors the job until it completes.",
    "StartAt": "Submit Job",
    "States": {
      "Submit Job": {
        "Type": "Task",
        "Resource":
        "{Deletion_Lambda_ARN}",
        "Parameters": {
          "SENDER.$": "$.SENDER",
          "RECIPIENT.$": "$.RECIPIENT",
          "AWS_REGION.$": "$.AWS_REGION",
          "SUBJECT.$": "$.SUBJECT",
          "CHARSET.$": "$.CHARSET",
          "BUCKET.$": "$.BUCKET",
          "EXTENSION.$": "$.EXTENSION",
          "EXCEPT-KEY.$": "$.EXCEPT-KEY",
          "TableName.$": "$.TableName"
        },
        "Next": "Job Complete?",
        "Retry": [
          {
            "ErrorEquals": ["States.ALL"],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ]
      },
      "Wait X Seconds": {
        "Type": "Wait",
        "Seconds" : 900,
        "Next": "Submit Job"
      },
      "Job Complete?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.status",
            "StringEquals": "FAILED",
            "Next": "Wait X Seconds"
          },
          {
            "Variable": "$.status",
            "StringEquals": "SUCCEEDED",
            "Next": "Send Mail"
          }
        ]
      },
      "Send Mail": {
        "Type": "Task",
        "Resource":
        "{Email_Lambda_ARN}",
      "Parameters": {
            "SENDER.$": "$.SENDER",
            "RECIPIENT.$": "$.RECIPIENT",
            "AWS_REGION.$": "$.AWS_REGION",
            "SUBJECT.$": "$.SUBJECT",
            "CHARSET.$": "$.CHARSET",
            "BUCKET.$": "$.BUCKET",
            "EXTENSION.$": "$.EXTENSION",
            "EXCEPT-KEY.$": "$.EXCEPT-KEY",
            "TableName.$": "$.TableName"
          },
      "End": true,
        "Retry": [
          {
            "ErrorEquals": ["States.ALL"],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ]
      }
    }
  }
  